<script id="search_customer_result_list_script" type="text/tmpl">
	<%% if (data.length > 0) { %>
	<form name="customer_select_form">	
		<div class="form-group">
			<table id="customer_list_table" class="table table-striped">
			  <thead>
				  <tr>
				  	<th></th>
				    <th><%= t.customer_selection.table.full_name %></th>
				    <th><%= t.customer_selection.table.document_id %></th>
				    <th><%= t.customer_selection.table.company_name %></th>	
				    <th><%= t.customer_selection.table.email %></th>
				    <th><%= t.customer_selection.table.phone_number %></th>
				    <th></th>
				  </tr>
			  </thead>
			  <tbody>
			  	<%% for (var idx=0; idx<data.length; idx++) {%>
			  		<tr>
			  			<td><input type="radio" class="form-control" name="id" style="position: relative; top: -12px"
			  				 value="<%%=data[idx].id%>"></td>
			  			<td><%%= data[idx].full_name%></td>
			  			<td><%%= data[idx].document_id%></td>
			  			<td><%%= data[idx].company_name%></td>
			  			<td><%%= data[idx].email%></td>
			  			<td><%%= data[idx].phone_number%></td>
			  		</tr>	
			  	<%% } %>
			  </tbody>
			</table> 
		</div> 
		<hr>
        <div class="form-group">
          <div class="col-md-12">
          	<div class="pull-right">
            <button id="search_customer_cancel_select_customer_button" class="button btn btn-sm btn-danger" type="button"><i class="fa fa-times push-5-r"></i> <%=t.entitymanagement.cancel%></button>
            <button id="search_customer_select_customer_button" class="button btn btn-sm btn-primary" type="button"><i class="fa fa-save push-5-r"></i> <%=t.entitymanagement.select%></button>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
	</form>
	<%% } else { %>
		<p class="text-center"><%=t.entitymanagement.no_data%></p>
	<%% } %>
</script>